*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 520px;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}

.title h1{
    margin: 25px;
    font-size: 28px;
}

.tasks{
    width: 90%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    height: 65%;
}

.addTask{
    display: flex;
    align-items: center;
    padding: 20px;
}

.addTask .button{
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addTask .button .icon{
    color: #fff;
    font-size: 20px;
}

.addTask .inputField{
    margin-left: 10px;
    width: 80%;
}

.addTask .inputField input{
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    padding: 10px;
}

.addTask .inputField input:focus{
    outline: none;
}



@media (max-width: 560px){
    .container{
        width: 80%;
    }
}